[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2 = "*"
dataclasses-json = "*"

[dev-packages]
black = "*"
mypy = "*"
pyflakes = "*"

[requires]
python_version = "3.10"
